/** --------------------------------------------------------------------
Contributors: Darien Tsai
Styles for the location addition form
--------------------------------------------------------------------- */

/*form styles*/
#addLocation-form.off{
  display: none;
}

#addLocation-form.on{
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.507);
  animation: fade 0.1s cubic-bezier(.18,.1,.18,1) 1 forwards;

  h1{
    color: $button-green;
  }

  #addLocation{
    position: absolute;
    top: 25%;
    left: 37.5%;
    width: 25%;
    height: 50%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1%;
    background: $bg-white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .MuiFormHelperText-root{
      color: red;
    }

    .MuiFormLabel-root.Mui-focused{
      color: $bg-green;
    }

    #addLocation-smalls{
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  
    #addLocation-smalls .MuiTextField-root{
      width: 30%;
    }
  
    .MuiInput-underline:after{
      border-bottom: $button-green;
    }

    button{
      background: $button-green;
      color: white;
    }

    #addLocation-buttons{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: center;

      #addLocation-cancel{
        background: none;
        color: black;
        border: none;
        outline: none;
        padding: 0.1em;
      }

      #addLocation-cancel:hover{
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}