
/* ---------------------------------------------------------------------
Contributors: Darien
Styles for location search  and results
--------------------------------------------------------------------- */

/*Search*/
#location-search-wrapper{
  position: absolute;
  top: 2%;
  left: 20%;
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}

#location-search{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.search-input{
  width: 25%;

  input{
    width: 100%;
    font-size: 1.5em;
  }

  .MuiFormLabel-root.Mui-focused{
    color: $bg-green;
  }

.MuiInput-underline:after{
  border-color: $button-green;
}
}

/*Results*/
#location-results{
  background: #eeeeee;
  width: 50%;
  height: 83%;
  position: absolute;
  left: 20%;
  border-radius: 10px;
  top: 15%;
  box-sizing: border-box;

  .location-row{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 1.5% 0;
    border-bottom: 1px solid rgb(170, 170, 170);
    cursor: pointer;
    transition-duration: 0.2s;
  
    .location-name, .location-address{
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 1.1em;
      box-sizing: border-box;
      padding: 0 2%;
    }

    .location-address{
      width: 60%;
    }

    .location-name{
      width: 40%;
    }
  }

  .location-row:hover{
    background: white;
  }
}