/* ---------------------------------------------------------------------
Contributors: Darien
Compiled doc with all scss
--------------------------------------------------------------------- */
/* ---------------------------------------------------------------------
Colors
--------------------------------------------------------------------- */
/* ---------------------------------------------------------------------
Compilation
--------------------------------------------------------------------- */
/* ---------------------------------------------------------------------
Contributors: Darien
Overriding styles for every page
--------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
/* ---------------------------------------------------------------------
Override Scrollbar
--------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

a {
  color: black;
  text-decoration: none;
  font-style: none;
  white-space: nowrap;
  cursor: pointer;
  display: block;
}

/* ---------------------------------------------------------------------
Override Scrollbar
--------------------------------------------------------------------- */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  background-color: white;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: #28bd3f;
}

/* ---------------------------------------------------------------------
Override Highlight
--------------------------------------------------------------------- */
::-moz-selection {
  background: #92f8a0;
}

::selection {
  background: #92f8a0;
}

/* puts Log In and Sign Up pages side by side */
.main-display {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

/* ---------------------------------------------------------------------
Contributors: Darien
Styles for the business dashboard right sidebar
--------------------------------------------------------------------- */
#locationInfo {
  height: 100%;
  width: 25%;
  background: #67d367;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
#locationInfo button.update-listing-button {
  padding: 2%;
  background: #175217;
  border-radius: 0;
  width: 100%;
}

#locationInfo-address {
  text-align: center;
  font-size: 1.5em;
  width: 100%;
  margin: auto;
}

#locationInfo-listing-count {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: fit-content;
  margin: auto;
}
#locationInfo-listing-count h3 {
  font-size: 2.5em;
}
#locationInfo-listing-count p {
  font-size: 2em;
  padding: 0 0.3em;
}

#locationInfo-list {
  width: 90%;
  height: 75%;
  margin: auto;
  background: #a2e2a2;
  border-radius: 7px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* ---------------------------------------------------------------------
Contributors: Darien
Styles for the business dashboard right sidebar listings
--------------------------------------------------------------------- */
.locationInfo-listing {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  background: #eeeeee;
  padding: 1% 0;
  border-bottom: 2px solid #67d367;
}
.locationInfo-listing p {
  text-align: right;
  width: 33%;
  padding: 0 1em;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* ---------------------------------------------------------------------
Contributors: Darien
Styles shopping list and items
--------------------------------------------------------------------- */
/* Styles for parent */
#shopping-list {
  position: absolute;
  left: 25%;
  top: 15%;
  z-index: 1;
  width: 50%;
  height: 65%;
  background: #eeeeee;
  border-radius: 10px;
}
#shopping-list button {
  outline: none;
  border: none;
  background: #175217;
  color: white;
  cursor: pointer;
}
#shopping-list button:hover {
  background: #1e6b1e;
}
#shopping-list button:active {
  background: #134413;
}

#close-shopping-list {
  position: absolute;
  top: -1.5em;
  right: -1.5em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  padding: 1%;
}

#shopping-list-container {
  width: 100%;
  height: 95%;
  box-sizing: border-box;
  padding: 2%;
}

#clear-shopping-list {
  width: 100%;
  height: 5%;
}

/* Styles for items */
.shopping-list-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding: 1%;
  transition-duration: 0.2s;
  border-top: 1px solid #a2e2a2;
  border-bottom: 1px solid #a2e2a2;
}
.shopping-list-item .shopping-list-item-name {
  font-size: 1.7em;
  font-weight: 500;
}
.shopping-list-item .shopping-list-item-address {
  font-size: 1em;
  color: #949494;
}
.shopping-list-item .shopping-list-item-business {
  font-size: 1.2em;
  color: #3f3f3f;
}
.shopping-list-item .shopping-list-item-left {
  width: 50%;
}
.shopping-list-item .shopping-list-price {
  font-size: 1.7em;
}
.shopping-list-item .shopping-list-discount {
  font-size: 1em;
  color: #3f3f3f;
}
.shopping-list-item .shopping-list-item-mid {
  text-align: right;
}
.shopping-list-item .shopping-list-item-right button {
  width: 3em;
  height: 3em;
}

.shopping-list-item:hover {
  background: white;
}

/* ---------------------------------------------------------------------
Contributors: Darien
Styles for the login/signup
--------------------------------------------------------------------- */
.main-display {
  width: 100%;
  max-width: 1250px;
  height: 90vh;
  padding: 0;
  margin: 0;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

/** --------------------------------------------------------------------
Contributors: Darien Tsai
Styles for the location addition form
--------------------------------------------------------------------- */
#addLocation-form.off {
  display: none;
}

#addLocation-form.on {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.507);
}
#addLocation-form.on h1 {
  color: #175217;
}
#addLocation-form.on #addLocation {
  position: absolute;
  top: 25%;
  left: 37.5%;
  width: 25%;
  height: 50%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 1%;
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#addLocation-form.on #addLocation .MuiFormLabel-root.Mui-focused {
  color: #175217;
}
#addLocation-form.on #addLocation #addLocation-smalls {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
#addLocation-form.on #addLocation #addLocation-smalls .MuiTextField-root {
  width: 30%;
}
#addLocation-form.on #addLocation .MuiInput-underline:after {
  border-bottom: #175217;
}
#addLocation-form.on #addLocation button {
  background: #175217;
  color: white;
}
#addLocation-form.on #addLocation #addLocation-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
#addLocation-form.on #addLocation #addLocation-buttons #addLocation-cancel {
  background: none;
  color: black;
  border: none;
  outline: none;
  padding: 0.1em;
}
#addLocation-form.on #addLocation #addLocation-buttons #addLocation-cancel:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*# sourceMappingURL=App.css.map */
