/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* ---------------------------------------------------------------------
Contributors: Darien
Compiled doc with all scss
--------------------------------------------------------------------- */
/* ---------------------------------------------------------------------
Colors
--------------------------------------------------------------------- */
/* ---------------------------------------------------------------------
Animations
--------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
@-webkit-keyframes fade {
  to {
    opacity: 1;
  }
}
@keyframes fade {
  to {
    opacity: 1;
  }
}
/* ---------------------------------------------------------------------
Compilation
--------------------------------------------------------------------- */
/* ---------------------------------------------------------------------
Contributors: Darien
Overriding styles for every page
--------------------------------------------------------------------- */
/* ---------------------------------------------------------------------
Override Scrollbar
--------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

a {
  color: black;
  text-decoration: none;
  font-style: none;
  white-space: nowrap;
  cursor: pointer;
  display: block;
}

#root {
  height: 100vh;
}

#customer {
  height: 100%;
}

/* ---------------------------------------------------------------------
Override Scrollbar
--------------------------------------------------------------------- */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  background-color: white;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: #28bd3f;
}

/* ---------------------------------------------------------------------
Override Highlight
--------------------------------------------------------------------- */
::-moz-selection {
  background: #92f8a0;
}

::selection {
  background: #92f8a0;
}

/* ---------------------------------------------------------------------
Overflow
--------------------------------------------------------------------- */
body {
  overflow-y: hidden;
}

/* puts Log In and Sign Up pages side by side */
.main-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 10%;
}

/* overwrite overflow for business left sidebar*/
.bcMPWx {
  overflow-x: hidden;
}

/* ---------------------------------------------------------------------
Contributors: Darien
Styles for the business dashboard right sidebar
--------------------------------------------------------------------- */
#locationInfo {
  height: 100%;
  width: 25%;
  background: #67d367;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
#locationInfo #LocationInfoControls {
  width: 90%;
  height: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#locationInfo button.update-listing-button {
  padding: 2%;
  background: #175217;
  border-radius: 0;
  width: 45%;
  white-space: nowrap;
  text-align: center;
  border-radius: 5px;
}
#locationInfo button.delete-location-button {
  padding: 2%;
  background-color: #cc3030;
  border-radius: 0;
  width: 45%;
  white-space: nowrap;
  text-align: center;
  border-radius: 5px;
}

#locationInfo-address {
  text-align: center;
  word-break: break-all;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0.5%;
  font-size: 1.5em;
  width: 100%;
  margin: 0 auto;
}

#locationInfo-listing-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
#locationInfo-listing-count h3 {
  font-size: 2.5em;
}
#locationInfo-listing-count p {
  font-size: 2em;
  padding: 0 0.3em;
}

#locationInfo-list {
  width: 90%;
  height: 75%;
  margin: 0 auto;
  background: #a2e2a2;
  border-radius: 7px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Styles for smaller screens */
@media only screen and (max-width: 1450px) {
  #locationInfo #LocationInfoControls {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 10%;
    padding: 0 2%;
  }
  #locationInfo #LocationInfoControls button {
    width: 55%;
  }

  #locationInfo-list {
    height: 65%;
  }
}
/* ---------------------------------------------------------------------
Contributors: Darien
Styles for the business dashboard right sidebar listings
--------------------------------------------------------------------- */
.locationInfo-listing {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: #eeeeee;
  padding: 1% 0;
  border-bottom: 2px solid #67d367;
}
.locationInfo-listing p {
  text-align: right;
  width: 33%;
  padding: 0 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

/* ---------------------------------------------------------------------
Contributors: Darien
Styles shopping list and items
--------------------------------------------------------------------- */
/* Styles for parent */
#shoppinglist-parent {
  background-color: rgba(0, 0, 0, 0.432);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

#shopping-list {
  position: absolute;
  left: 25%;
  top: 10%;
  z-index: 1;
  width: 50%;
  height: 80%;
  background: white;
  border-radius: 10px;
}
#shopping-list button {
  outline: none;
  border: none;
  background: #175217;
  color: white;
  cursor: pointer;
}
#shopping-list button:hover {
  background: #1e6b1e;
}
#shopping-list button:active {
  background: #134413;
}

#close-shopping-list {
  position: absolute;
  top: -1.5em;
  right: -1.5em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  padding: 1%;
}

#shopping-list-container {
  width: 100%;
  height: 95%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2%;
  overflow-y: auto;
}

#clear-shopping-list {
  width: 100%;
  height: 5%;
}

/* Styles for items */
.shopping-list-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1%;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  border-top: 1px solid #a2e2a2;
  border-bottom: 1px solid #a2e2a2;
}
.shopping-list-item .shopping-list-item-name {
  font-size: 1.7em;
  font-weight: 500;
}
.shopping-list-item .shopping-list-item-address {
  font-size: 1em;
  color: #949494;
}
.shopping-list-item .shopping-list-item-business {
  font-size: 1.2em;
  color: #3f3f3f;
}
.shopping-list-item .shopping-list-item-left {
  width: 50%;
}
.shopping-list-item .shopping-list-price {
  font-size: 1.7em;
}
.shopping-list-item .shopping-list-discount {
  font-size: 1em;
  color: #888888;
  text-decoration: line-through;
}
.shopping-list-item .shopping-list-item-mid {
  text-align: right;
}
.shopping-list-item .shopping-list-item-right button {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.shopping-list-item:hover {
  background: #eeeeee;
}

#display-none {
  display: none;
}

/* Styles for small screens */
@media only screen and (max-width: 501px) {
  /* Styles for small screens */
  #shopping-list {
    width: 90%;
    height: 80%;
    top: 10%;
    left: 5%;
    font-size: 0.7em;
  }

  .shopping-list-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
    padding: 1em 0;
  }

  .shopping-list-item div {
    padding: 1.5% 0;
  }
}
/* Styles for customer search results */
.gDDUVC {
  border-left: 5px solid white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.gDDUVC:hover {
  border-left: 5px solid #a2e2a2;
}

.fgWAjs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* ---------------------------------------------------------------------
Contributors: Darien
Styles for the login/signup
--------------------------------------------------------------------- */
/* Styles for small screens */
body {
  overflow-x: hidden;
}

.main-display {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.9em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}
.main-display .image-display {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.main-display #welcome-video {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  opacity: 0;
  -webkit-animation: fade 0.2s cubic-bezier(0.18, 0.1, 0.18, 1) 1 forwards;
          animation: fade 0.2s cubic-bezier(0.18, 0.1, 0.18, 1) 1 forwards;
}

/* Styles for large screens */
@media only screen and (min-width: 501px) {
  #main-display {
    width: 100%;
    max-width: 1250px;
    height: 90vh;
    padding: 0;
    margin: 0;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main-display #welcome-video {
    width: 400px;
    height: 400px;
  }
}
/** --------------------------------------------------------------------
Contributors: Darien Tsai
Styles for the location addition form
--------------------------------------------------------------------- */
/*form styles*/
#addLocation-form.off {
  display: none;
}

#addLocation-form.on {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.507);
  -webkit-animation: fade 0.1s cubic-bezier(0.18, 0.1, 0.18, 1) 1 forwards;
          animation: fade 0.1s cubic-bezier(0.18, 0.1, 0.18, 1) 1 forwards;
}
#addLocation-form.on h1 {
  color: #175217;
}
#addLocation-form.on #addLocation {
  position: absolute;
  top: 25%;
  left: 37.5%;
  width: 25%;
  height: 50%;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1%;
  background: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#addLocation-form.on #addLocation .MuiFormHelperText-root {
  color: red;
}
#addLocation-form.on #addLocation .MuiFormLabel-root.Mui-focused {
  color: #67d367;
}
#addLocation-form.on #addLocation #addLocation-smalls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
#addLocation-form.on #addLocation #addLocation-smalls .MuiTextField-root {
  width: 30%;
}
#addLocation-form.on #addLocation .MuiInput-underline:after {
  border-bottom: #175217;
}
#addLocation-form.on #addLocation button {
  background: #175217;
  color: white;
}
#addLocation-form.on #addLocation #addLocation-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#addLocation-form.on #addLocation #addLocation-buttons #addLocation-cancel {
  background: none;
  color: black;
  border: none;
  outline: none;
  padding: 0.1em;
}
#addLocation-form.on #addLocation #addLocation-buttons #addLocation-cancel:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* ---------------------------------------------------------------------
Contributors: Darien
Styles for location search  and results
--------------------------------------------------------------------- */
/*Search*/
#location-search-wrapper {
  position: absolute;
  top: 2%;
  left: 20%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#location-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-input {
  width: 25%;
}
.search-input input {
  width: 100%;
  font-size: 1.5em;
}
.search-input .MuiFormLabel-root.Mui-focused {
  color: #67d367;
}
.search-input .MuiInput-underline:after {
  border-color: #175217;
}

.empty {
  background-image: url("media/error.png");
  background-repeat: no-repeat;
  background-position: center;
}

/*Results*/
#location-results {
  background-color: #eeeeee;
  width: 50%;
  height: 83%;
  position: absolute;
  left: 20%;
  border-radius: 10px;
  top: 15%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: auto;
}
#location-results .location-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 1.5% 0;
  border-bottom: 1px solid #aaaaaa;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
#location-results .location-row .location-name, #location-results .location-row .location-address {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font-size: 1.1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 2%;
}
#location-results .location-row .location-address {
  width: 60%;
}
#location-results .location-row .location-name {
  width: 40%;
}
#location-results .location-row:hover {
  background: white;
}

/** --------------------------------------------------------------------
Contributors: Darien Tsai
Styles for the update listings form
--------------------------------------------------------------------- */
/*Form parent styles*/
#updateWrapper.off {
  display: none;
}

#updateWrapper {
  background: rgba(0, 0, 0, 0.473);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

#updateListings {
  opacity: 0;
  width: 90%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1%;
  border-radius: 15px;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-animation: fade 0.2s cubic-bezier(0.18, 0.1, 0.18, 1) 1 forwards;
          animation: fade 0.2s cubic-bezier(0.18, 0.1, 0.18, 1) 1 forwards;
}
#updateListings .updatableListing {
  border-left: 5px solid white;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
#updateListings .updatableListing:hover {
  border-left: 5px solid #67d367;
}
#updateListings #updateList {
  width: 100%;
  height: 85%;
  overflow: auto;
}
#updateListings #updateControls {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#updateListings #updateControls button {
  background: #175217;
  color: white;
  outline: none;
  border: none;
}
#updateListings #updateControls #addListing {
  font-size: 2em;
  text-align: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  position: absolute;
  top: 80%;
  right: 2em;
}
#updateListings #updateControls #addListing:hover {
  background: #1e6b1e;
}
#updateListings #updateControls #addListing:active {
  background: #134413;
}
#updateListings #updateControls #cancelUpdate {
  background: none;
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 0.8em;
}
#updateListings #updateControls #cancelUpdate:hover {
  text-decoration: underline;
}

/*Listing styles*/
.updatableListing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 1% 0;
}
.updatableListing .updateSelect {
  width: 6em;
}
.updatableListing .updateField {
  max-width: 16%;
  min-width: 14%;
}
.updatableListing .MuiInput-underline:after {
  border-bottom-color: #175217;
}
.updatableListing .MuiFormLabel-root.Mui-focused {
  color: #67d367;
}
.updatableListing .removeListing, .updatableListing .updateFileWrap {
  background: #67d367;
  outline: none;
  border: none;
  color: white;
  text-align: center;
}
.updatableListing .updateFileWrap {
  padding: 1%;
  border-radius: 4px;
  white-space: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.updatableListing .removeListing {
  width: 1.7em;
  height: 1.7em;
  font-size: 1.1em;
  border-radius: 50%;
  background-color: #ff5a5a;
}
.updatableListing .removeListing:hover {
  background-color: #ff9797;
}
.updatableListing .removeListing:active {
  background-color: #a02b2b;
}
.updatableListing .updateFileWrap:hover {
  background-color: #1e6b1e;
}
.updatableListing .updateFileWrap:active {
  background-color: #134413;
}

/* ---------------------------------------------------------------------
Contributors: Darien
Styles for status message
--------------------------------------------------------------------- */
#status {
  position: absolute;
  z-index: 10;
  left: 35%;
  width: 30vw;
  padding: 1%;
  border-radius: 15px;
}
#status h1 {
  text-align: center;
  width: 100%;
  color: white;
}

.good {
  background-color: #67d367;
  bottom: -10px;
  opacity: 0;
  -webkit-animation: status 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) 1 forwards;
          animation: status 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) 1 forwards;
}

.bad {
  background-color: red;
  bottom: -10px;
  opacity: 0;
  -webkit-animation: status 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) 1 forwards;
          animation: status 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) 1 forwards;
}

@-webkit-keyframes status {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    bottom: -10%;
  }
}

@keyframes status {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    bottom: -10%;
  }
}
/* ---------------------------------------------------------------------
Contributors: Darien
styles for customer search filters
--------------------------------------------------------------------- */
#searchFilters {
  width: 5%;
  height: 30%;
  position: absolute;
  top: 10%;
  left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#searchFilters .filter {
  color: white;
}
#searchFilters .filter .MuiInput-underline:after {
  border-bottom: 2px solid #a2e2a2;
}
#searchFilters .filter .Mui-focused {
  color: #a2e2a2;
}
#searchFilters .filter .MuiInputLabel-animated {
  white-space: nowrap;
}

/* Styles for small screens */
@media only screen and (max-width: 650px) {
  /* Styles for small screens */
  .MuiSelect-select.MuiSelect-select {
    color: white;
  }
}
/*Styles for customer search results*/
div.empty {
  background: url("media/error.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
/* ---------------------------------------------------------------------
Contributors: Tabassum Alam
styles for error page 
--------------------------------------------------------------------- */
.error-page{
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  flex: auto;
}
